.main__seccion-salud {
    height: calc(100vh - 100px);
    width: 100%;
}

.main__secccion-salud__imagen {
    width: 100%;
}

.main__secccion-salud__titulo {
    display: flex;
    font-size: 2.6rem;
    font-family: Pacifico;
    position: absolute;
    text-align: center;
    top: 50%;
}